
<!DOCTYPE html>
<html>
<head>
  <title>Twitter users search</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  </head>
  
</head>

<body>

  
<!--Useful Links-->
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="/sentiment-analysis"><span class="glyphicon glyphicon-book"></span> Twitter Sentiment Analysis </a>
          </li>
          <li class="navbar-right">
            <a href="/users-search"><span class="glyphicon glyphicon-book"></span> Twitter Users Search </a>
          </li>
          <li class="navbar-right">
            <a href="/search-tweets"><span class="glyphicon glyphicon-book"></span> Twitter Search Tweets</a>
          </li>
        </ul>
    </div>
  </nav>

<div class="jumbotron text-center">
  
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/twitter-logo.jpg">
    </a>
    <!--results for tweets-->
    <h1 style="font-size:30px";> User search results</h1>
   
    <table>   
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Screen Name</th>
          <th>Followers</th>
          <th>Friends</th>
          <th>Created At</th>
          <th>Location</th>
          <th>Description</th>
          <th>Demo</th>
      </tr>
    </table>
    <% if (data) { %>
      <% for(var i=0; i<data.length; i++){ %>
          
          <table >     
              <tr>
                  <td><%= data[i].id %> </td>
                  <td><%= data[i].name %> </td>
                  <td><%= data[i].screen_name %> </td>
                  <td><%= data[i].followers_count%> </td>
                  <td><%= data[i].friends_count %> </td>
                  <td><%= data[i].created_at %> </td>
                  <td><%= data[i].location%> </td>
                  <td><%= data[i].description %> </td>
                  <td><a href=<%= data[i].demo %>><%= data[i].demo %></a> </td>
              </tr> 
          </table>
  
          <% } %>
  <% }else{ %>
      
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/users-search"><span class="glyphicon glyphicon-book"></span>No results Please try again </a>
      
    </ul>
<% } %>
  </div>


  
</div>




</body>
</html>
